asin,title,author,volume,release_date,manual_affiliate_url,notes
B0DUMMY001,Sample Volume 1,Sample Author,1,2026-06-01,https://www.amazon.co.jp/dp/B0DUMMY001?tag=exampletag-22,manual sample item 1
B0DUMMY002,Sample Volume 2,Sample Author,2,2026-07-01,https://www.amazon.co.jp/dp/B0DUMMY002?tag=exampletag-22,manual sample item 2
